*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    background: #1d2631;
}

:root{                     /*PADRÕES DA PAGINA*/
    --tex-color: #fff;
    --h1-font: 4rem;
    --p-font: 1rem;
    --main-color: #205d63;
    --other-color: #fcfcfc;

}


body{
    color: var(--tex-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 45px;
    font-weight: bold;
    margin-left: 10px;
}

.logo:hover{
    transform: translateY(-10%);
}




.logo i{
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;

}

.navegação{
    display: flex;
}

.navegação a{
    color: var(--other-color);
    font-size: 29px;
    font-weight: 700;
    margin: 0 30px; /*distancia um do outro *menu* */
    transition: a .55s ease;
}

.navegação a:hover{
    color: var(--main-color);
    
}

.header-icons{
    display: flex;
    align-items: center;
}



.header-icons{
    margin-right: 30px;
    font-size: 36px;
    transition: all .5s ease;
    cursor: pointer;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}

.section{
    padding: 0 15%;
}


.home-text h1{
    font-size: var(--h1-font);
    margin-top: 150px;
    
}

.home-text{
    padding-left: 160px;
}


p{
    color: #ffffff;
    font-size:20px;
    font-weight:200;
    margin-right: 260px;
    text-align: center;
    letter-spacing: 1px;
}


    





img {
    width: 35rem;
    height: auto;
    
}

.gif{
    justify-content: center;
    align-items: center;
    margin-left: 107px;
    margin-left: 625px;
}


#sobre1{
    color:  #205d63;
    text-decoration:line-through;
    
}

h1{
    font-weight:lighter;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    margin-bottom: 20px;
    letter-spacing: 3px;

}

#contato1{
    color:  #205d63;
    text-decoration:line-through;

}